In [2]:
import pandas  as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
df.to_csv("../data/raw/data.csv", index=False)

In [5]:
dicionario = pd.DataFrame([
 {
        'variavel': 'survived',
        'descricao': 'Indica se o passageiro sobreviveu (1) ou não (0).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
     {
        'variavel': 'pclass',
        'descricao': 'Classe do bilhete do passageiro (1 = Primeiro, 2 = Segundo, 3 = Terceiro).',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
    },
    {
        'variavel': 'sex',
        'descricao': 'Sexo do passageiro (male = masculino, female = feminino).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
    {
        'variavel': 'age',
        'descricao': 'Idade do passageiro em anos.',
        'tipo': 'quantitativa',
        'subtipo': 'contínua'
    },
    {
        'variavel': 'sibsp',
        'descricao': 'Número de irmãos ou cônjuges a bordo.',
        'tipo': 'quantitativa',
        'subtipo': 'discreta'
    },
    {
        'variavel': 'parch',
        'descricao': 'Número de pais ou filhos a bordo.',
        'tipo': 'quantitativa',
        'subtipo': 'discreta'
    },
    {
        'variavel': 'fare',
        'descricao': 'Tarifa paga pelo passageiro.',
        'tipo': 'quantitativa',
        'subtipo': 'contínua'
    },
   {
        'variavel': 'embarked',
        'descricao': 'Porto de embarque do passageiro (C = Cherbourg, Q = Queenstown, S = Southampton).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
   {
        'variavel': 'class',
        'descricao': 'Classe do bilhete do passageiro (First, Second, Third).',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
    },
   {
        'variavel': 'who',
        'descricao': 'Categoria do passageiro (man = homem, woman = mulher, child = criança).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
    {
        'variavel': 'adult_male',
        'descricao': 'Indica se o passageiro é um adulto do sexo masculino (True) ou não (False).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
    {
        'variavel': 'deck',
        'descricao': 'Deck do navio onde o passageiro estava localizado.',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
     {
        'variavel': 'embark_town',
        'descricao': 'Cidade de embarque do passageiro (Cherbourg, Queenstown, Southampton).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
    {
        'variavel': 'alive',
        'descricao': 'Indica se o passageiro está vivo (yes) ou não (no).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },
    {
        'variavel': 'alone',
        'descricao': 'Indica se o passageiro estava sozinho (True) ou acompanhado (False).',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    }

])
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Indica se o passageiro sobreviveu (1) ou não (0).,qualitativa,nominal
1,pclass,"Classe do bilhete do passageiro (1 = Primeiro,...",qualitativa,ordinal
2,sex,"Sexo do passageiro (male = masculino, female =...",qualitativa,nominal
3,age,Idade do passageiro em anos.,quantitativa,contínua
4,sibsp,Número de irmãos ou cônjuges a bordo.,quantitativa,discreta
5,parch,Número de pais ou filhos a bordo.,quantitativa,discreta
6,fare,Tarifa paga pelo passageiro.,quantitativa,contínua
7,embarked,Porto de embarque do passageiro (C = Cherbourg...,qualitativa,nominal
8,class,"Classe do bilhete do passageiro (First, Second...",qualitativa,ordinal
9,who,"Categoria do passageiro (man = homem, woman = ...",qualitativa,nominal
10,adult_male,Indica se o passageiro é um adulto do sexo mas...,qualitativa,nominal
11,deck,Deck do navio onde o passageiro estava localiz...,qualitativa,nominal
12,embark_town,"Cidade de embarque do passageiro (Cherbourg, Q...",qualitativa,nominal
13,alive,Indica se o passageiro está vivo (yes) ou não ...,qualitativa,nominal
14,alone,Indica se o passageiro estava sozinho (True) o...,qualitativa,nominal

In [6]:
dicionario.to_csv("../data/external/dictionary.csv", index=False)